<app-header></app-header>
<h4 class="text-center">Ceremonial y Protocolo</h4>
<br/>   
<div class="card card-outline-info w-75 mx-auto text-white">
    <div class="card-header bg-info">
        GUIA DE ACTIVIDADES
    </div>
    <div class="card-block container">
        <div class="row text-black">
            <div class="col-4">
                <strong>Dia:</strong> Viernes 20 de Octubre
                <br/>
                <strong>Hora:</strong> 21:00
            </div>
            <div class="col-8">
                <strong><u>Bº Coronel Arias</u> - Vilcapugio Nº 1907</strong>
                <p>Cena Show por el Día Nacional del Técnico.</p>
                <p><strong>Invita:</strong> Presidente de la Asociación de Técnicos Nacionales Miguel Morales.</p>
            </div>

            <!-- Formulario Eventos -->
            <div class="card card-outline-info w-75 mx-auto text-white">
                <div class="card-header bg-info">
                    Nueva Actividad
                </div>
                <div class="card-block text-black">

                    <!-- Dia -->
                    <div class="input-group">
                        <span   class="input-group-addon"><img src="/imgcdn/icons/calendar.png"/></span>
                        <span   class="input-group-addon">Día: </span>
                        <select class="form-control text-center"><option *ngFor="let d of dias" value="{{d}}">{{d}}</option></select>
                        <span   class="input-group-addon">Mes: </span>
                        <select class="form-control text-center"><option *ngFor="let m of meses" value="{{m}}">{{m}}</option></select>
                        <span   class="input-group-addon">Año: </span>
                        <select class="form-control text-center"><option *ngFor="let a of anios" value="{{a}}">{{a}}</option></select>
                    <!--/div-->

                    <!-- Hora -->
                    <!--div class="input-group"-->
                        <span class="input-group-addon"><img src="/imgcdn/icons/clock-frame.png"/></span>
                        <span class="input-group-addon">Hora: </span>
                        <select class="form-control text-center"><option *ngFor="let h of horas" value="{{h}}">{{h}}</option></select>
                        <span class="input-group-addon">Minutos: </span>
                        <select class="form-control text-center"><option *ngFor="let m of minutos" value="{{m}}">{{m}}</option></select>
                    </div>

                    <!-- Lugar -->
                    <div class="input-group">
                        <span class="input-group-addon"><img src="/imgcdn/icons/card.png"/></span>
                        <span class="input-group-addon">Lugar:</span>
                        <select class="form-control text-center"><option *ngFor="let l of lugares" value="l.uriname">{{l.name}}</option></select>
                        <button type="button" class="btn btn-success"><img src="/imgcdn/icons/plus-button.png"/></button>
                        <button type="button" class="btn btn-danger"><img src="/imgcdn/icons/minus-button.png"/></button>
                    </div>

                    <!-- Titulo -->
                    <div class="input-group">
                        <span class="input-group-addon"><img src="/imgcdn/icons/card.png"/></span>
                        <span class="input-group-addon">Lugar:</span>
                        <input class="form-control" type="text"/>
                    </div>

                    <!-- Evento -->
                    <div class="input-group">
                        <span class="input-group-addon"><img src="/imgcdn/icons/calendar-previous.png"/></span>
                        <span class="input-group-addon">Evento:</span>
                        <input class="form-control" type="text"/>
                    </div>

                    <!-- Invita -->
                    <div class="input-group">
                        <span class="input-group-addon"><img src="/imgcdn/icons/tie.png"/></span>
                        <span class="input-group-addon">Invita:</span>
                        <input class="form-control" type="text"/>
                    </div>

                </div>
                <div class="card-footer text-right">
                    <button
                        [ngClass] = "['btn', 'btn-danger','cssBtnFixedWidth']"
                        type      = "button"
                        (click)   = "cancelar()">
                        <img src  = "/imgcdn/icons/cross-circle.png"/>
                        Cancelar
                    </button>
        
                    <button
                        [ngClass] = "['btn', 'btn-info','cssBtnFixedWidth']"
                        type      = "button"
                        (click)   = "guardar()">
                        <img src  = "/imgcdn/icons/plus-circle.png"/>
                        Guardar
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div class="card-footer text-right">
        <div class="btn-group">
            <button
                [ngClass] = "['btn','btn-info','cssBtnFixedWidth',cssBtnNuevo]"
                type      = "button"
                (click)   = "nuevo()">
                <img src  = "/imgcdn/icons/card--plus.png"/>
                Nuevo
            </button>
        </div>
    </div>
</div>